<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="../css/admin.css">
</head>
<body>

<div class="menu text-center">
        <div class="wrapper">
            <ul>
                <li><a href="personal-admin.php"><?php echo $_SESSION['name']?></a></li>
                <li>    </li>
                <li><a href="../view/index.html">Home</a></li>
                <li><a href="admin-index.php">Dashboard</a></li>
                <li><a href="manage-admin.php">Admin</a></li>
                <li><a href="manage-category.php">Category</a></li>
                <li><a href="manage-product.php">Product</a></li>
                <li><a href="manage-order.php">Order</a></li>
                <li><a href="../authorization/logout.php">Logout</a></li>
            </ul>
        </div>
    </div>

<form>
<table>
<!-- Name: -->
<tr><td>Name: </td><td><input type="text" id="Name" ></td></tr>

<!-- Email -->
<tr><td>Email: </td><td><input type="text" id="Email"></td></tr>

<!-- Password -->
<tr><td>Password: </td><td><input type="password" id="pass"></td></tr>

<!-- ConfirmPassword -->
<tr><td>Confirm Password: </td><td><input type="password" id="conpass"></td></tr>
</table>

<!-- Gender -->
<p>Please select your gender:</p>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="other" name="gender" value="other">
  <label for="other">Other</label>
<br>
<br>
<table><!-- Birthday -->
<tr><td>
<label for="Birthday">Date of Birth</label><input type="date" id="date" name="date">
</td></tr>

<tr>
                    <td>Profile Picture: </td>
                    <td> <input type="file" name="profilePicture" id="profilePicture"></td>
                </tr>

<br>

<tr><td>
<input type="submit" value="submit" onclick="myFunction()">
<script>
    function myFunction() {

      var name=document.getElementById("Name").value;
        if (name==null || name==""){  
        alert("Name can't be blank");   
        }



        //email

          
             var email=document.getElementById("Email").value;

            if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email))
            {
                alert("Valid email");  
            }
            else
                alert("You have entered an invalid email address!")



        //Password

            var pass = document.getElementById("pass").value;
            var conpass = document.getElementById("conpass").value;
            
            if (pass == conpass && pass == ""){
                alert("Enter the password")
            }
            else if(pass == conpass)
                alert("password is matched")
            else
            alert("not matched")

        // Radio button


     
                var male=document.getElementById("male").value;
                var female=document.getElementById("female").value;
                var other = document.getElementById("other").value;



                if(male.checked==false && female.checked==false && other.checked==false )
                {
                        alert("You must select male or female");
                }   
           
        //Date
                date = document.getElementById("date").value;
                if(date == "")
                alert("select the date")

        }
	//profilePicture
                profilePicture = document.getElementById("profilePicture").value;
                if(profilePicture == "")
                alert("seelect jpg/png file")

        }

</script>
</td>
<br>

<tr><td><input type="reset" value="reset"></td></tr>

</table>

</form>


</body>
</html>